
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Hubballi&display=swap');

.hubballi-regular {
  font-family: "Hubballi", sans-serif;
  font-weight: 400;
  font-style: normal;
}
